@media(max-width:1110px){
    .top_line-menu-item-registration{
        padding-left: 500px;
}
.top_line-menu-item-phone{
    padding-left: 50px;
}
.menu__list-item1 {
    margin-left: 45px;
    margin-right: 354px;
}

@media(max-width:1000px){
    .top_line-menu-item-registration{
        padding-left: 400px;
}
    .menu__list-item1 { 
        margin-right: 254px;
}

}

@media(max-width:914px){
    .top_line-menu-item-registration{
        padding-left: 300px;
}
.container_first_screen{
    min-height: 600px;
}
.menu__list-item1 { 
    margin-right: 154px;
}
.first_screen-explanation {
    padding-top: 30px;
}
.logo {
    padding-top: 70px;
}
}

@media(max-width:810px){
    .top_line-menu-item-registration{
        padding-left: 200px;
}
.menu__list-item1 { 
    margin-right: 54px;
}

}

@media(max-width:710px){
    .top_line-menu-item-phone{
        display: none;
}
.top_line-menu-item-registration{
    padding-left: 50px;
}
.menu__list-item2,.menu__list-item3,.menu__list-item4{
    display: none;
}
}

@media(max-width:376px){
    .logo_img{
        max-width: 280px;
        min-height: 280px;
    }
   
}
