@media(min-width:710px){
    .menu__porten{
        display: none;
    }
}
@media(max-width:1110px){
    .top_line-menu-item-registration{
        padding-left: 500px;
}
.top_line-menu-item-phone{
    padding-left: 50px;
}
.menu__list-item1 {
    margin-left: 45px;
    margin-right: 354px;
}
@media(max-width:1050px){
    .our_brands{
        height: 450px;
    }
}
@media(max-width:1000px){
    .top_line-menu-item-registration{
        padding-left: 400px;
}
    .menu__list-item1 { 
        margin-right: 254px;
}


}

@media(max-width:914px){
    .top_line-menu-item-registration{
        padding-left: 300px;
}
.container_first_screen{
    min-height: 600px;
}
.menu__list-item1 { 
    margin-right: 154px;
}
.first_screen-explanation {
    padding-top: 30px;
}
.logo {
    padding-top: 70px;
}
}

@media(max-width:810px){
    .top_line-menu-item-registration{
        padding-left: 200px;
}
.menu__list-item1 { 
    margin-right: 54px;
}

}

@media(max-width:710px){
    .top_line-menu-item-phone{
        display: none;
}
.top_line-menu-item-registration{
    padding-left: 50px;
}
.menu__list-item1 {
    padding: 0px; 
    height: auto;
    left: 26px;
    display: none;
}
.menu__list-item2{
    padding: 0px; 
    height: auto;
    left: 26px;
    color: #969696;
}
.menu__list-item3{
    display: block;
    position: absolute;
    width: 185px;
    top: 145px;
    left: 0px;
    padding: 0px; 
    height: auto;
}
.menu__list{
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 123px;
    background: #0F0F0F;
    width:100vw ;
    height: 400px;
    transform: translateY(-300%);
}
.menu__list.menu__list--active{
    transform: translateY(0%);
}
.menu__list-item1,.menu__list-item2,.menu__list-item3{
    /* display: none; */
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    
}
.menu__list-item1,.menu__list-item3{
    margin-left: 0px;
}
.menu__list-link-porten {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 80px;
    
}
.cart-icon{
    position: absolute;
    top: 95px;
    left: 20px;
}
.search-icon{
    position: absolute;
    top: 165px;
    left: 20px;
}
.menu__btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 66px;
}
.menu{
    display: inline-block;
    align-items: baseline;
}
.header__inner{
    width: 570px;
}
}
@media(max-width:525px){
.our_brands{
    height: 850px;
}}
@media(max-width:376px){
    .logo_img{
        max-width: 280px;
        min-height: 280px;
    }
   
}
