@font-face { 
     
    src: url(../fonts/Post\ No\ Bills\ Jaffna\ Bold\ 700.ttf);   
    
         font-family: 'Post No Bills Jaffna';
         font-style: normal;
         font-weight: 700;
  }

*{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    
}
body,
html {
    background-color: #000000;
    height: 100%;
    
}

.top_line{
    width: 100vw;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.top_line-menu-background{
    width: 100%;
    height: 44px;
    background: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* display: inline-block; */
}
.top_line-menu{
    display: block;
    max-width: 1100px;
    height: 44px;
    margin: 0 auto;
}
.top_line-menu-item-phone{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
    width: 355px;
    height: 16px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
}
.phone-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.top_line-menu-item-registration{
    padding-top: 14px;
    width: 107px;
    height: 16px;
    display: inline-block;
    padding-left: 600px;
    white-space: nowrap;
    
}
.top_line-menu-link-registration{
    text-decoration: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
    
}
.log-in-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
}
.menu__porten{
    width: 104px;
    height: 49px;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    list-style: none;
    list-style: none;
    text-decoration: none;
    text-align:center ;
    margin-left: 50px;
}
.menu__btn{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    display: none;
    position: relative;
    float: right;
    padding-right: 80px;
    
} 
.menu__btn span{
    display: block;
    height: 2px;
    width: 40px;
    background-color: rgb(252, 252, 252);
    position: absolute;
    left: 0;
    top: 14px;
}
.menu__btn::after,
.menu__btn::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    left: 0;
}
.menu__btn::after{
    bottom: 0;
    height: 2px; 
}
.menu__btn::before{
    top: 0;
    height: 2px; 
}
.header{
    width: 100vw;
}
.container_header__inner{
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.menu_list-background{
    position: absolute; 
    width: 100%;
    height: 80px;
    left: 0px;
    top: 44px;
    background: #0F0F0F;
    border: 1px solid #000000;
    box-sizing: border-box;
    z-index: -1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu__list{
    list-style: none;
    display: flex;
    max-width: 1100px;
}
.menu__list-item1 {
    margin-left: 4px;
    margin-right: 490px;
    width: 136px;
    height: 80px;
    text-align: center;
    float: left;
    position: relative;
    height: 100%;
    display: none;
}
.menu__list-item2 {
    margin-left: 24px;
    width: 136px;
    height: 80px;
    text-align: center;
    
    position: relative;
    height: 100%;
    margin-top: 18px;

}
.menu__list-item3 {
    margin-left: 45px;
    width: 200px;
    height: 80px;
    text-align: center;
    
    position: relative;
    height: 100%;
    margin-top: 16px;
}

.menu__list-item1,.menu__list-item2,.menu__list-item3 li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    
  }
.menu__list-link-porten{
    width: 104px;
    height: 49px;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    list-style: none;
    list-style: none;
    text-decoration: none;
    text-align:center ;
}

.menu__list-link-like{
    width: 136px;
    height: 80px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    
    text-decoration: none;

}
.menu__list-link-personal{
    width: 140px;
    height: 18px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
    text-decoration: none;
    white-space: nowrap;
    
}

.menu__list-link-settings{
    width: 250px;
    height: 18px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
    text-decoration: none;
    
}
.cart-icon{
    width: 22px;
    height: 22px;
    margin-left: 30px;
    
}
.search-icon{
    width: 22px;
    height: 22px;
    margin-left: 30px;
}

.container_first_screen{
    background-image: url(../images/Main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 810px;
    display: block;
    width: 100vw;
}


.logo{

    padding-top: 160px;
    text-align: center;
}

.first_screen-explanation{
    margin: 0 auto;
    padding-top: 80px;
    display: block;
    width: 730px;
    height: 96px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
}
.second_screen{
    width: 100vw;
    height: 730px;
    /* position: absolute; */
    left: 0px;
    top: 934px;
    display: inline-block;
}
.new_season{
    position: relative;
    width: 54vw;
    height: 730px;
    float:left;
    background: #000000;
    
}
.new_season-title{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 93px;
}
.new_season-title-line{
    align-self: center;
    width: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}
.watch_container{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
    height: 405px;
    /* background-color: aqua;  */
    display:inline-flex ;
    
}
.watch_background1{
    width: 260px;
    height: 325px;
    background: #191B1C;
    z-index: 1;
    display: block;
}
.watch_background2{
    width: 260px;
    height: 325px;
    background: #191B1C;
    z-index: 1;
    display: block;
}
.watch_background3{
    width: 260px;
    height: 325px;
    background: #191B1C;
    z-index: 1;
    display: block;
    
}
.watch1{
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 405px;
    text-align: center;
    display: inline-block;
    
}
.watch2{
    width: 260px;
    height: 405px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.watch3{
    width: 260px;
    height: 405px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
   
}
.watch3-img, .watch2-img, .watch1-img{
    margin:55px 22px;
}
.watch-name{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    
    text-align: center;
}
.watch-price{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #D0D0D0;
    text-align: center;
}
.new_collection{
    display: inline-block;
    position: relative;
    width: 44vw;
    height: 730px;
    float: right;
    /* justify-content: right; */
    
} 
.background-2-img{
    position: relative;
    top: 0;
    
    width: 100%;
    height: 730px;
} 

.new_collection-title{
    position: absolute;
    display: block;
    left: 20%;
    right: 20%;
    top: 50%;
    margin: 0 auto;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 10;
    white-space: nowrap;
}
.new_collectin-title-line{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 0px;
    border: 1px solid #FFFFFF;
    z-index: 100;
}
.catalog_btn{
    display: inline-block;
    margin: 0 auto;
    
    padding: 12px 28px;
    position: relative; 
    width: 138px;
    height: 47px;
    /* left: 371px;
    top: 583px; */
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    z-index: 100;
}

/*collection_2018*/

.collection_2018-section{
    /* position: absolute; */
    width: 100vw;
    height: 600px;
    
    display: block;
}
.collection_2018-container{
    position: relative;
    width: 45vw;
    /* height: 880px; */
    float:left;
    
}

.collection_2018-explanation{
    position: relative;
    width: 54vw;
    /* height: 880px; */
    float: left;
    display: flex;
}
.collection_2018-explanation-background{
    width: 100%;
    height: 600px;
    background: #000000;
    
}
.collection_2018-title{
    width: 376px;
    height: 39px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}
.collection_2018-title-line{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 0px;
    border: 1px solid #ffffff;
    z-index: 100;
    bottom: -55%;
    
}
.collection_2018-explanation-text{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 40px;
}
.sea_collection-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    width: 311px;
    height: 47px;
    margin-left: 33%;
    margin-top: 73px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    z-index: 100;
    white-space: nowrap;
    text-decoration: none;
}
.new_goods-section{
    /* position: absolute; */
    width: 100vw;
    height: 1289px;
    display: block;
    background-color: black;
}
.new_goods-title{
    padding-top: 120px;
    padding-bottom: 40px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
    
}
.new_goods-title-line{
    width: 120px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.new_goods-container{
    position:relative;
    /* top: 289px;
    left: 405px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1106px;
    height: 850px;
    /* background-color: aqua; */
}
.new_goods-watch1,.new_goods-watch2,
.new_goods-watch3,.new_goods-watch4{
    /* position: absolute; */
    width: 260px;
    height: 405px;
    text-align: center;
    display: inline-block;
}
.new_goods-watch_background1{
    width: 260px;
    height: 325px;
    background: #191B1C;
    z-index: 1;
    display: block;
}
.our_brands{
    position: relative;
    width: 100vw;
    height: 362px;
    display: block;
    background: #0F0F0F;
}
.our_brands-title{
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 289px;
    height: 48px;
    left: 816px;
    top: 3613px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.our_brands-title-line{
    width: 120px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 0;
}
.brand_logo-container{
    position: relative;
    display: block;
    max-width: 1100px;
    height: 180px; 
    
    margin: 0 auto;
    align-items: center;
}
.brand_logo{
    
    margin-bottom: 80px;
    display: inline-block; 
}
.footer-img-filter{
    position: relative;
    left: 0px;
    top: 0px;
    width: 12%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    z-index: -55;
    display: inline-block;
}
.footer{
    /* position: absolute; */
    width: 100vw;
    height: 400px;
    display: flex;
    background-image: url(../images/footer-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.about_shop{
    display: inline-block;
    position: relative;
    width: 350px;
    height: 400px;
    margin-left: 1%;
}
.about_shop-title{
    width: 151px;
    height: 32px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: auto;
}
.about_shop-explanation-text{
    width: 350px;
    height: 147px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0 auto;
}
.categories{
    display: inline-block;
    height: 400px;
    width: 275px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.watch_btn{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background: #0F0F0F;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #D0D0D0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}
.watch_btn-text{ 
    text-decoration: none; 
}
.subscription{
    height: 400px;
    width: 355px;
    display: inline-block;
    position: relative;
    margin-right: 14%;
}
.subscription-title{
    width: 131px;
    height: 32px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
    
}
.subscription-explanation-text{
    width: 350px;
    height: 42px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 37px;
}
.subscription__form-input{
    width: 210px;
    height: 42px;
    background: rgba(255, 255, 255, 0.4); 
    border: none;
    margin-right: 0;
}

.subscription__form-input::-webkit-input-placeholder {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #969696;
    padding-left: 15px;
}
.footer__form-btn{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    width: 140px;
    height: 41px;
    background: #0F0F0F;
    color: rgb(255, 255, 255);
    border: none;
    margin-left: 0;
}
.last_line-container{
    /* position: absolute; */
    width: 100vw;
    height: 50px;
    
    background: #0F0F0F;
}
.all-rights{
    position: relative;
    width: 155px;
    height: 16px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
    display: inline-block;
    margin-left: 15%;
    margin-top: 16px;
}
.figma_info{
    position: relative;
    width: 155px;
    height: 16px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #D0D0D0;
    margin-right: 14%;
    margin-top: 16px;
    float: right;
}

